ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0em;
}
.header-menu {
  text-align: right;
}

input[type=text] {
  width: 100%;
}

form {
  max-width: 100%;
}

form input[type=submit] {
  float: right;
}

textarea {
  width: 100%;
  margin-bottom: 1em;
}

.content {
  margin: 2em;
  display: flex;
}

.content .sidebar {
  padding: 1rem;
}
.content .sidebar a {
    display: block;
}

.content-wrapper {
  width: 100%;
  margin: auto 2em;
}

.list-view {
  margin: 0;
}

.list-view-item {
  display: flex;
  margin: 1em 0;
}

.list-view-item img {
  max-width: 120px;
  max-height: 120px;
}

.list-view-item div {
  flex: 1;
  padding-left: 1em;
}

.list-view-item div .title {
}

.list-view-item .title {
  font-size: x-large;
}

.list-view-item a {
  margin: auto 0.5rem;
}

.list-view-item > .source {
  padding-left: 0;
}

.edit-container {
  display: flex;
}

.edit-container img {
  max-width: 80%;
}

.edit-form {
  width: 100%;
}

.edit-container .img-container {
  text-align: center;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #000000;
}


.fullscreen .active {
  position: absolute;
  width: 100%;
  opacity: 1;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.slide-container {
  height: inherit;
}
.active {
  height: inherit;
}

.slide .title {
  opacity: 0;
  font-size: 2rem;
}
.slide.active .title {
  font-family: fantasy;
  font-weight: 900;
  opacity: 1;
  background: rgba(0,0,0,0.4);
  padding: 1.5rem;
  margin: auto;
  position: fixed;
  bottom: 0;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.flex {
    display: flex;
}

@media (max-width: 900px) {
  .edit-container {
    flex-direction: column;
  }

  .edit-form {
    width: 80%;
    margin: auto;
  }

}
